<footer class="site-footer">

  <div class="wrapper">

      <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li class="rss-subscribe">Subscribe to posts <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS.</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" title="lopezpdvn@github.com">
              <img class="icon" src="{{ site.baseurl }}/{{ site.images_dir }}/buttons/github.png" alt="lopezpdvn@github.com" title="lopezpdvn@github.com" height="15px" width="15px" />
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" title="{{ site.twitter_username }}@twitter.com">
              <img class="icon" src="{{ site.baseurl }}/{{ site.images_dir }}/buttons/twitter.png" alt="{{ site.twitter_username }}@twitter" title="{{ site.twitter_username }}@twitter" height="15px" width="15px" />
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}

          <li>
            <a href="https://www.linkedin.com/in/pedroivanlopez" alt="lopezpdvn@linkedin" title="lopezpdvn@linkedin">
              <img class="icon" src="{{ site.baseurl }}/{{ site.images_dir }}/buttons/linkedin.png" alt="lopezpdvn@linkedin" title="lopezpdvn@linkedin" height="15px" width="15px" />
              <span class="username">lopezpdvn</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <!--<p class="text">{{ site.description }}</p>-->
        <a rel="license"
                href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img
            alt="Creative Commons License" style="border-width:0"
            src="{{ site.baseurl }}/{{ site.images_dir }}/buttons/cc-by-nc-nd-4.0-88x31.png"/></a><br/>
            Except where otherwise noted, content on this site by <a
                xmlns:cc="http://creativecommons.org/ns#" href="{{ site.url }}"
                property="cc:attributionName" rel="cc:attributionURL">{{ site.author}}</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.

      </div>
    </div>

  </div>

</footer>
