<footer class="site-footer">

  <div class="wrapper">

      <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.description }}</li>
          <li class="rss-subscribe">Subscribe to posts <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS.</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" title="lopezpdvn@github.com">
              <img class="icon" src="{{ site.baseurl }}/{{ site.images_dir }}/buttons/github.png" alt="lopezpdvn@github.com" title="lopezpdvn@github.com" height="15px" width="15px" />
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" title="{{ site.twitter_username }}@twitter.com">
              <img class="icon" src="{{ site.baseurl }}/{{ site.images_dir }}/buttons/twitter.png" alt="{{ site.twitter_username }}@twitter" title="{{ site.twitter_username }}@twitter" height="15px" width="15px" />
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}

          <li>
            <a href="https://www.linkedin.com/in/pedroivanlopez" alt="PedroIvanLopez@linkedin" title="PedroIvanLopez@linkedin">
              <img class="icon" src="{{ site.baseurl }}/{{ site.images_dir }}/buttons/linkedin.png" alt="PedroIvanLopez@linkedin" title="PedroIvanLopez@linkedin" height="15px" width="15px" />
              <span class="username">PedroIvanLopez</span>
            </a>
          </li>

          <li>
          <a href="mailto:{{ site.email }}" alt="Email" title="Email">
              <img class="icon" src="{{ site.baseurl }}/{{ site.images_dir }}/buttons/email.png" alt="Email" title="Email" height="15px" width="15px" />
              <span class="username">Email</span>
            </a>
          </li>


        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <!--<p class="text">{{ site.description }}</p>-->
        <a rel="license"
                href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img
            alt="Creative Commons License" style="border-width:0"
            src="{{ site.baseurl }}/{{ site.images_dir }}/buttons/cc-by-nc-nd-4.0-88x31.png"/></a><br/>

        {% include license_message.html %}

      </div>
    </div>

  </div>

</footer>
